<%- include('navbarIndex.ejs'); %>
<div class="container">
    <div class="row justify-content-center">
        <div class="container">
            <div class="row my-5">
        <% Object.values(products).forEach(function(item){ %>
            <% if (item.Product_status == "available") { %>
                <div class="col-lg-2 col-md-5 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="product/<%= item._id %>"><%= item.Product_name %></a>
                            </h4>
                            <h5>ราคา <%= item.Product_price.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') %> บาท</h5>
                            <div class="row justify-content-center">
        
                            
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>  
        <% }) %>
    </div>
</div>

    </div>
</div>


</body>

</html>